<h1><%= @child.name %>'s Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'shared/card', locals: {
        header: 'Meals', 
         items: @meals.map { |meal| meal_item(meal, @child) }, 
        footer_link: new_child_meal_path(@child), 
        footer_text: 'Log New Meal'
      } 
    %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'shared/card', locals: {
        header: 'Allergies', 
        items: @allergies.map { |allergy| allergy_item(allergy, @child) }, 
        footer_link: new_child_allergy_path(@child), 
        footer_text: 'Log New Allergy'
      } 
    %>
    </div>
  </div>
</div>
