<h1><%= @child.name %>'s Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'shared/card', locals: {
        header: 'Meals', 
         items: @meals.map { |meal| item_card(meal, meal.food.name, @child) },
        footer_link: new_child_meal_path(@child), 
        footer_text: 'Log New Meal'
      } 
    %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'shared/card', locals: {
        header: 'Allergies', 
        items: @allergies.map { |allergy| item_card(allergy, allergy.description, @child) }, 
        footer_link: new_child_allergy_path(@child), 
        footer_text: 'Log New Allergy'
      } 
    %>
    </div>
  </div>
</div>
