<h1>Child Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Child Details',
          items: [
            { name: "<strong>Age:</strong> #{@child.date_of_birth}".html_safe },
            { name: "<strong>Gender:</strong> #{@child.gender}".html_safe }
          ],
          footer_link: children_path,
          footer_text: 'Back to Children'
        }
      %>
    </div>
  </div>
</div>
