<h1>Analyses for <%= @child.name %></h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Analyses',
          items: @analyses.map { |analysis| item_card(analysis, analysis.title, @child) },
          footer_link: new_child_analysis_path(@child),
          footer_text: 'New Analysis'
        }
      %>
    </div>
  </div>
</div>
