<h1>Analysis Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Analysis Details',
          items: [item_card(@analysis, @analysis.title, @child)],
          footer_link: child_details_path(@child),
          footer_text: 'Back to Details'
        }
      %>
    </div>
  </div>
</div>
