<h1>Meals for <%= @child.name %></h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Meals', 
          items: @meals.map { |meal| meal_item(meal, @child) },
          footer_link: new_child_meal_path(@child),
          footer_text: "Log New Meal"
        } 
      %>
    </div>
  </div>
</div>
