<section class="about-us">
  <div class="container">
    <h2>About Us</h2>
    <p>
      While allergies can't be cured, the best way to keep your little one safe is by spotting and avoiding the things that trigger them. BiteBuddy is here to help you with that! We hope our app becomes a trusted companion in keeping your child happy, healthy, and safe.
    </p>
    <p>
      At BiteBuddy, we understand the challenges parents face in managing their child's food allergies. Our app is designed with love and care, offering an easy way to log meals and reactions, analyze patterns, and provide insights that empower you to make informed decisions. 
    </p>
    <p>
      Our mission is to support families in their journey towards healthier, safer eating habits. We’re committed to creating a tool that’s not only effective but also simple and enjoyable to use. Your child's safety is our top priority, and we're here to make your life a little easier.
    </p>
  </div>
</section>
<hr>
