<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1g_6h5nWteYHLfjbTWq-AdI4AjGC1PYEO/preview" allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>
<hr>
