<section class="how-to-use">
  <h2>How to Use BiteBuddy</h2>
  <div class="cards">
    <div class="landing-card landing-card-1">
      <div class="card-number">1</div>
      <h3><%= user_signed_in? ? 'Select a Child' : 'Sign Up and Add Your Child' %></h3>
    </div>
    <div class="landing-card landing-card-2">
      <div class="card-number">2</div>
      <h3>Log Meals and Allergic Reactions</h3>
    </div>
    <div class="landing-card landing-card-3">
      <div class="card-number">3</div>
      <h3>Get AI Insights and Analysis</h3>
    </div>
  </div>
</section>
