<div class="container">
  <h2 class="text-center">How It Works</h2>
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">1</h3>
            <p class="card-text">Log the meals for your child</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">2</h3>
            <p class="card-text">Log any allergies your child has experienced</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">3</h3>
            <p class="card-text">Get AI analysis of logged meals and allergic reactions to identify patterns</p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">1</h3>
            <p class="card-text">Sign up and add your child and the food you plan to introduce</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">2</h3>
            <p class="card-text">Log your child's meals using the food options and record any allergic reactions</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow card-custom-height">
          <div class="card-body text-center">
            <h3 class="card-title">3</h3>
            <p class="card-text">Get AI analysis of logged meals and allergic reactions to identify patterns</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
</div>
