<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">BiteBuddy</h1>
    <p>Ensuring safe meals, one bite at a time</p>
    <p>
      <a class="btn btn-primary btn-lg mr-2" href="#" role="button">Sign Up Now</a>
      <a class="btn btn-secondary btn-lg ml-2" href="#" role="button">Sign In Now</a>
    </p>
  </div>
</div>
