
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Select Your Child</h1>
    <p class="lead text-muted">Choose the child you want to manage.</p>
    <div class="form-group">
      <label for="childSelect">Child</label>
      <select class="form-control" id="childSelect">
        <option>Child 1</option>
        <option>Child 2</option>
        <option>Child 3</option>
      </select>
    </div>
    <a href="#" class="btn btn-primary my-2">Go to Child's Details</a>
  </div>
</section>
