<div class="select-child">
  <h2>Select Your Child</h2>
  <%= form_with url: select_child_path, method: :post, local: true do %>
    <div class="form-group">
      <%= label_tag :child_id, "Select Child" %>
      <%= select_tag :child_id, options_from_collection_for_select(@children, :id, :name), prompt: "Choose a child" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Select", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
