<h1>Food Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Food Details',
           items: [
            { name: "<strong>Name:</strong> #{@food.name}".html_safe },
            { name: "<strong>Category:</strong> #{@food.category}".html_safe }
          ],
          footer_link: foods_path(@food),
          footer_text: 'Back to Foods'
        }
      %>
    </div>
  </div>
</div>
