<h1>Editing allergy</h1>

<%= render "form", child: @child, allergy: @allergy %>

<br>

<div>
  <%= link_to "Show this allergy", [@child, @allergy] %> |
  <%= link_to "Back to allergies", child_allergies_path(@child) %>
</div>
