<h1>Allergies for <%= @child.name %></h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Allergies',
          items: @allergies.map { |allergy| allergy_item(allergy, @child) },
          footer_link: new_child_allergy_path(@child),
          footer_text: "Log New Allergy"
        }
      %>
    </div>
  </div>
</div>
