<h1>Allergy Details</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'shared/card', locals: {
          header: 'Allergy Details',
          items: [item_card(@allergy, @allergy.description, @child)],
          footer_link: details_child_path(@child),
          footer_text: 'Back to Details'
        }
      %>
    </div>
  </div>
</div>
