/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dark_mode
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eaeeef; /* Light mode background color */
  color: #021822; /* Light mode text color */
  display: flex;
  flex-direction: column;
}

 .navbar-brand img {
  height: 80px;
  width: auto;
}

.cta .btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
}

.features ul, .how-it-works ol {
  list-style-position: inside;
  text-align: left;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px; 
}

.card-body {
  flex: 1; 
  background-color: #f8f9fa;
  border: 1px solid #dee2e6; 
}

.card-header {
  background-color: #343a40; 
  color: #343a40; 
}

.card-footer {
  margin-top: auto; 
}

/* Select Child Section Styles */
.select-child-section {
  text-align: center;
  margin-bottom: 20px;
}

.select-child-section .card {
  background-color: #ffffff; 
  color: #021822; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; 
}

.select-child-section .card-body {
  padding: 40px;
}

.select-child-section .card-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.select-child-section .dropdown-menu {
  width: 100%;
}

.select-child-section .btn-primary {
  background-color: #021822;
  border-color: #021822;
}

.select-child-section .btn-primary:hover {
  background-color: #034a77;
  border-color: #034a77;
}

.select-child-section .dropdown-item:hover {
  background-color: #f5fcff;
}

/* Footer Styles */
.site-footer {
  background-color: #021822;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Push footer to the bottom */
  position: relative;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.social-link:hover {
  color: #c4eafa;
}

.main-content {
  padding-bottom: 60px; /* Adjust this value as needed */
}
