/*
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(230, 230, 236);
  color: #021822;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* Card Styles */
.card {
  background-color: #ffffff; 
  color: #021822;
  margin-bottom: 20px; 
  overflow: hidden;   
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #f8f9fa; 
  padding: 10px;            
  border-bottom: 1px solid #e9ecef; 
}

.card-body {
  padding: 15px;            
  flex-grow: 1;             
}

/* List Group Item Styles */
.list-group-item {
  background-color: #f8f9fa; 
  color: #021822;
}

/* Other Styles */
.navbar {
  background: linear-gradient(to right, #c4eafa, #15BCF4, #E16DF8); 
}

.navbar .navbar-nav .nav-link {
  color: #021822; 
}

.navbar .navbar-nav .nav-link:hover {
  color: #F755C9; 
}

.navbar-brand img {
  height: 80px;
  width: auto;
}

/* Additional Styles */
.cta .btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
}

.features ul,
.how-it-works ol {
  list-style-position: inside;
  text-align: left;
}

.select-child-section {
  text-align: center;
  margin-bottom: 20px;
}

.select-child-section .card {
  background-color: #ffffff;
  color: #021822;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
}

.select-child-section .card-body {
  padding: 40px;
}

.select-child-section .card-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.select-child-section .dropdown-menu {
  width: 100%;
}

.select-child-section .btn-primary {
  background-color: #021822;
  border-color: #021822;
}

.select-child-section .btn-primary:hover {
  background-color: #034a77;
  border-color: #034a77;
}

.select-child-section .dropdown-item:hover {
  background-color: #f5fcff;
}

/* Footer Styles */
.site-footer {
  background-color: #021822;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.social-link:hover {
  color: #c4eafa;
}

.main-content {
  padding-bottom: 60px;
}

.section {
  padding: 50px 0;
}

.about-us-section {
  background-color: #f8f9fa;
  text-align: center;
}

.card-custom-height {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.card-title {
  text-align: center;
}
