

body.dark-mode {
  background-color: #010507;
  color: #DDF3FD;
}

body.light-mode {
  background-color: rgb(230, 230, 236);
  color: #021822;
  position: relative;
  z-index: 1;
}
body.dark-mode {
  background-color: #010507;
  color: #DDF3FD;
}

body.dark-mode .card {
  background-color: #1a1a1a; 
  color: #DDF3FD; 
}

body.light-mode .card {
  background-color: #ffffff; 
  color: #021822; 
}

body.dark-mode .list-group-item {
  background-color: #2a2a2a; 
  color: #DDF3FD; 
}

body.light-mode .list-group-item {
  background-color: #f8f9fa; 
  color: #021822; 
}

.navbar.dark-mode {
  background: linear-gradient(to right, #bee7fa,#0BB2EA, #7B0792 );
}

.navbar.light-mode {
  background: linear-gradient(to right,  #c4eafa, #15BCF4,#E16DF8 );
}

.navbar-dark .navbar-nav .nav-link {
  color: #DDF3FD;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #AA087C;
}

.navbar-light .navbar-nav .nav-link {
  color: #021822;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #F755C9;
}
